.gallery {
    padding: 80px 0;
    text-align: center;
    background: #fff;
  }

  .gallery h2 {
    font-size: 36px;
    margin-bottom: 40px;
    animation: fadeIn 1s ease;
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  .gallery-item {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s ease;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
  }

  .gallery-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
 
  .gallery-item:hover img {
    transform: scale(1.1);
  }

  .gallery-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .gallery-item:hover::after {
    opacity: 1;
  }
 .gallery a{
    text-decoration: none;
    color: rgb(8, 87, 87);
    margin-top: 2rem;
    font-family: 'poppins';
    font-size: 1rem;
    font-weight: 500;
  }
  .gallery a:hover{
    font-weight: 900;
    color: rgb(29, 0, 56);
    transition: 0.3s;
  }
  @keyframes appear {
    from{
         opacity: 0;
         scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}